* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: #eeeeee; */
  background-color: lightgray;
  justify-content: center;
  overflow: scroll;
}

body.recolored {
  transition: background-color 1s ease-in-out 4s;
}

h1 {
  font-weight: 600;
  color: white;
  /* padding-bottom: 25px; */
  margin-top: 5rem;
  white-space: nowrap;
}

fieldset {
  /* border: none; */
  /* padding: 0; */
  border: 1px solid #acacac;
  border-radius: 0.2rem;
}

legend {
  margin-bottom: 1rem;
}

input, select {
  border: 1px solid #acacac;;
  /* background-color: #eeeeee; */
}

input, button, select {
  height: 1.5rem;
  border-radius: 0.2rem;
}

input {
  width: 2rem;
}

button {
  color: white;
  border: none;
  padding: 0 1rem 0 1rem;
  background-color: #acacac;
}

p {
  width: 400px;
}

#container {
  margin: 2rem 0 5rem 0;
  justify-content: center;
  /* height: 282px; */
  /* height: 282.5px; */
  height: 849.59px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem;
  border-radius: 0.5rem;
  background: white;
  transition: height 1s ease-in-out;
}

#colorOutput {
  height: 0;
  /* margin: 2rem 0 2rem 0; */
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* opacity: 0; */
  overflow: hidden;
  transition: all 1s ease-in-out;
  /* animation: fade 1s ease-in-out; */
}

#colorOutput p {
  opacity: 0;
}

#colorOutput p:first-child.displayed { 
animation: fade 1s ease-in-out 2s forwards;
  -webkit-animation: fade 1s ease-in-out 2s forwards;
}

#colorOutput p:last-child.displayed { 
  animation: fade 1s ease-in-out 6s forwards;
  -webkit-animation: fade 1s ease-in-out 6s forwards;
}

#hex.displayed {
  margin: 2rem 0 2rem 0;
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  animation: fade 1s ease-in-out 4s forwards;
  -webkit-animation: fade 1s ease-in-out 4s forwards;
}

#hex.displayed {
  transition: background-color 1s ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#paletteSelect {
  margin: 1rem 0 1rem 0;
}


#palette {
  display: flex;
  flex-direction: column;
}

.palette-color {
  width: 400px;
  padding: 10px;
  background-color: red;
}

/* .color-hex {
  font-weight: bold;
  font-size: 2em;
  color: white;
  padding: 40px;
  text-align: center;
}

.color-block {
  display: none;
  margin-top: 25px;
}

h2 {
  width: 400px;
  padding: 10px;
}

.color {
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-block {
  width: 400px;
  margin-top: 25px;
  margin-bottom: 25px;
  border: solid 1px lightgray;
  padding: 30px;
}

p {
  text-align: left;
}

.palette-menu {
  display: none;
}

.palette-block {
  color: white;
  padding: 25px 0px 25px 0px;
  display: none;
}

.palette-color {
  width: 400px;
  padding: 10px;
}

input {
  width: 35px;
}

fieldset {
  border: solid 1px lightgray;
}

.user-input {
  width: 400px;
} */